.firebase__login__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.firebase__login__button_kakao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
  border-radius: 5px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fee500;
}

.firebase__login__button_small {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #BDBDBD;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.5rem;
}

/* 뷰포트 너비에 따라 다른 폰트 사이즈 적용 */
@media (max-width: 600px) {
  .firebase__login__button_small {
    font-size: 1.2rem;
  }
}

.firebase__login__buttons_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 1.5rem;
}
