.reset-password-form {
  width: 468px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 4rem;
  -webkit-box-shadow: 6px 12px 60px rgb(0 0 0 / 20%);
  box-shadow: 6px 12px 60px rgb(0 0 0 / 20%);

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 400;
    text-align: left;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
    text-align: left;
    color: #616161;
  }

  .form-submit-button {
    button {
      width: 100%;
      padding: 1.2rem 1.6rem;
    }
  }

  .form-field-container {
    label {
      color: #666;
    }
  }

  input[type='text'],
  input[type='password'] {
    padding: 0.8rem 1.2rem;
  }
  .reset-password-form-inner {
    width: 100%;
    display: flex;
    flex-direction: column;  /* 컬럼 방향으로 아이템들을 정렬 */
    gap: 20px;              /* 아이템 간 간격을 20px로 설정 */
  }
  .text-left {
    white-space: pre-line;
  }
}
